.buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    justify-content: center;
    align-items:center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button {
    border: 1px solid rgb(102, 51, 153);
    padding:5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(102, 51, 153);
    cursor: pointer;
    transition: all 100ms ease-in;
    display:flex;
    justify-content: center;
    align-items:center;
    width:80%;
    text-overflow: ellipsis;
    overflow:hidden;
}

.isright{ 
  color: white;
  background-color: green;
}
.iswrong{ 
  color: white;
  background-color: red;
}

.skip {
    border: none;
    text-transform: uppercase;
    background: none;
    align-self: flex-end;
    color: grey;
    font-size: 15px;
    cursor: pointer;
    width:30%;
}

.question {
    text-align: center;
    font-weight:bold;
}

.indicator {
    transition: transform 500ms ease-in;
    height: 12.5px;
    border-radius: 50%;
    margin: 3px;
    background-color: grey;
    border: none;
}

.scores {
    width:100%;
    padding: 5px;
    text-align: right;
    flex-basis: 15%;
}

.middle {
    flex-basis: 70%;
    width:100%
}

.bottom {
    flex-basis: 15%;
    width:100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.indicators {
    display: flex;
    justify-content: center;
    flex:1 1 0;
    margin-left:30%;
}

.imageoption{
    width:100px;
    height:70px;
    border-radius: 20px;
    background-color: aqua;
    margin:5px;
}
.imageoptions{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}