/* block__elememt--modifier */
/* Strictly Follow BEM Guide */

.header {
    width: 100%;
    background-color: white;
    box-shadow: -1px 1px 5px 0px #d6cfde;
    padding: 10px;
    height:60px;
    display:flex;
    position: fixed;
    z-index: 3;
    top: 0;
    left:0;
    border-bottom: 1px solid rgb(102, 51, 153);
}

.header__logo{
  width:32px;
  height: 32px;
  margin-right:20px;
  margin-bottom:0px;
}



.header__search{
 flex-basis:60%;
}

.header__links{
  margin-left: auto;
  display:flex;
  justify-content: space-between;
  align-self: center;
}

@media (max-width: 700px) {
  .header__links {
    display: none;
  }
}
.header__link {
  padding:5px;
  color: purple;
  font-size:0.85rem;
}
.header__link--active {}

